@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&family=Outfit:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}
p{
    font-size: 18px;
}
ul{
    list-style: none;
}

/* Utility classes */
.flex{
    display: flex;
    align-items: center;
}


/* Container */
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Pale-blue);
}

.box-container{
    width: 600px;
    height: 400px;
    background-color: var(--White);
    border-radius: 25px;
    box-shadow: 1px 1px 6px var(--Pale-blue);
}
.box-left-section{
    width: 50%;
    height: 100%;
    padding-block: 10px 30px;
    justify-content: space-around;
    border-radius: 25px;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--Light-slate-blue),var(--Light-royal-blue));
}
.box-left-section p{
    padding-inline: 45px;
    font-size: 15px;
    color: var(--Light-lavender);
    text-align: center;
}
.left-circle{
    width: 150px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    color: var(--Pale-blue);
    border-radius: 120px;
    background: linear-gradient(to top, var(--Persian-blue), var(--Violet-blue));
}
.left-circle h1{
    font-size: 3rem;
    line-height: 1;
}
.left-circle span{
    color: hsla(241, 100%, 89%, 0.644);
    font-weight: 500;
    font-size: 12px;
}
.left-heading{
    font-size: 18px;
    color: var(--Light-lavender);
}
.left-footer-heading{
    font-weight: 500;
    color: var(--Pale-blue);
}
.box-right-section{
    width: 50%;
    height: 100%;
    padding: 20px 40px;
    align-items: unset;
    flex-direction: column;
    justify-content: space-evenly;
}
.box-right-section ul{
    flex-direction: column;
    align-items: unset;
    gap: 10px;
}
.right-heading{
    color: var(--Dark-gray-blue);
}
.link-icon-box{
    gap: 10px;
}
#link-1{
    background: rgba(255, 87, 87, 0.055);
    color: var(--Light-red);
}
#link-1:hover{
    background: rgba(255, 87, 87, 0.090);
}
#link-2{
    background: hsl(39, 100%, 56%,0.055);
    color: var(--Orangey-yellow);
}
#link-2:hover{
    background: hsl(39, 100%, 56%,0.090);    
}
#link-3{
    background: hsla(166, 100%, 37%, 0.055);
    color: var(--Green-teal);
}
#link-3:hover{
    background: hsla(166, 100%, 37%, 0.090);
}
#link-4{
    background: hsla(234, 85%, 45%,0.055);
    color: var(--Cobalt-blue);
}
#link-4:hover{
    background: hsla(234, 85%, 45%,0.090);
}

.hover-links{
    padding: 14px 12px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: space-between;
    font-size: 14px;
}
.right-number{
    color: var(--Dark-gray-blue);
}
.right-number-span{
    color: rgba(48, 59, 90, 0.44);
}
.right-btn{
    padding: 15px 16px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    background: var(--Dark-gray-blue);
    color: var(--Pale-blue);
}
.right-btn:hover{
    background: rgb(29, 36, 54);
}


@media screen and (max-width: 700px) {
    .box-container{
        flex-direction: column;
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
    .box-left-section{
        width: 100%;
        height: 50%;
        padding-block: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .left-circle{
        width: 120px;
        height: 120px;
    }
    .box-right-section{
        width: 100%;
        padding-block: 20px;
    }
    .box-right-section ul{
        gap: 10px;
    }
}